# ─── Terraform ────────────────────────────────────────────────────────────────
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
*.tfstate.backup
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
secret.tfvars
*.tfplan
.terraform.lock.hcl

# ─── VS Code ─────────────────────────────────────────────────────────────────
.vscode/
*.code-workspace
.vscode-test/
.vscode-server/
.vscode-remote/
vscode-debug.log*
*.log
.history/
*.swo
*.swp
*.tmp

# ─── Emacs ────────────────────────────────────────────────────────────────────
# Backup files
*~
# Auto-save files
#   files named #foo#
\#*\#
# Lockfiles (created during editing)
.\#*
# compressed archives
*.gz
*.zip

# ─── Python ────────────────────────────────────────────────────────────────────
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
pythonenv*

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
*.env

# pip
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Pyre type checker
.pyre/

# ─── Go ─────────────────────────────────────────────────────────────────
bootstrap
main

*.sum
*.mod

